<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SendIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/images/icon.png" rel="icon">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/admin_home2.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/admin_home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/user_home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="brand">
            <span>SDA MT.OLIVES CHURCH</span>
        </div>
        <ul>
            <li class="dropdown">
                <!-- <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-user-circle"></i> <span id="usernayme"></span> </a> -->
                <div class="dropdown-content">
                    <a href="../user/user_settings.html"><i class="fa fa-user"></i> Profile</a>
                    <!-- <a href="../../index.html"><i class="fa fa-power-off"></i> LogOut</a> -->
            <li><a href="../../index.html"><i class="fa fa-power-off"></i> Logout</a></li>
            <!-- <li><a href="#cells"> View Cells</a></li> -->
            <li class="dropdown">
                <a href="#" onmouseover="myFunction()" class="dropbtn">View Cells</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="cell_profile.html">Najjeera</a>
                    <a href="cell_profile.html">Bukoto</a>
                    <a href="cell_profile.html">Kaliwajjala</a>
                    <a href="cell_profile.html">Naalya</a>
                </div>
            </li>
            <li><a href="admin_home.html" class="selected"> View All Members</a></li>
            <li><a href="../user/user_home.html"> Register New Member</a></li>
            <li><a href="../../index.html"> Home</a></li>
            </div>
            </li>
            <!-- <li><a href="#" class="active"><i class="fa fa-fw fa-edit"></i> My Parcels</a></li> -->
        </ul>
    </header><br><br>
    <!-- <header>
        <div class="brand">
            <span><a href="admin_home.html">SEND It<i class="fa fa-paper-plane-o"></i></a></span>
        </div>
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-user-circle"></i> <span id="usernayme"></span> </a>
                <div class="dropdown-content">
                    <a href="admin_settings.html"><i class="fa fa-user"></i> Profile</a>
                    <a href="../../index.html"><i class="fa fa-power-off"></i> LogOut</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn" id="not"><i class="fa fa-fw fa-bell-o"></i> Notifications <span id="number"></span> </a>
                <div class="dropdown-content" id="nots">
                  
                </div>
            </li>
            <li><a href="users.html"><i class="fa fa-fw fa-users"></i> Users</a></li>
            <li><a href="admin_parcels.html#create"><i class="fa fa-fw fa-cart-plus"></i> New Order</a></li>
            <li><a href="admin_parcels.html#sec" ><i class="fa fa-fw fa-edit"></i> My Parcels</a></li>
            <li><a href="admin_home.html" onclick="getParcels(); return false;" class="active"><i class="fa fa-fw fa-edit"></i> All Parcels</a></li>
          </ul>
    </header>
    <br><br> -->

    <!-- <section> -->
    <h1 id="cell-name">KAGUGUBE</h1>
    <div class="topbar">
        <div class="search">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Member by Member's Name"><button
                type="submit"><i class="fa fa-search"></i></button>
        </div>
        <!-- <div class="search">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Orders by present location"><button type="submit"><i class="fa fa-search"></i></button>
            </div> -->
        <!-- <span id="filter">
                <span id="filterText">Filter by Date Created</span>
                <input id="day" type="number" min="1" max="31" placeholder="Day" onkeyup="filterByDate()">
                <select id="month" onchange="filterByMonth()">
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="Aug">Aug</option>
                    <option value="Sept">Sept</option>
                    <option value="Oct">Oct</option>
                    <option value="Nov">Nov</option>
                    <option selected value="Dec">Dec</option>
                </select>
                <select id="year" onchange="filterByYear()">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </span> -->
    </div>
    <br><br>
    <div class="leadership">
        <div id="firstbox">
            <div id="firstimage"></div>
            <div class="name">Samanya</div>
        </div>
        <div id="firstbox">
            <div id="firstimage"></div>
            <div class="name">David</div>
        </div>
        <div id="firstbox">
            <div id="firstimage"></div>
            <div class="name">Statistics
                <ul class="name1"><br>
                    <li>
                        Total Membership: 15
                    </li><br>
                    <li>
                        Total Males: 8
                    </li><br>
                    <li>
                        Total Females: 7
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="cell-table">Cell Membership </h1>
    <table id="allparcels">
        <!-- <thead>
                <tr>
                    <th>Parcel ID</th>
                    <th>
                        <select id="status" onchange="filter();">
                            <option value="all">Status</option>
                            <option value="delivered">Delivered</option>
                            <option value="pending">Pending</option>
                            <option value="intransit">In-transit</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </th>
                    <th>Created by</th>
                    <th>Present Location</th>
                    <th>Date Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="alparcels">

            </tbody> -->

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Irene Samanya</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Vincent Zirimwabagabo</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Flavia Zirimwabagabo</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Henry Samanya</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Esther Odora</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Maroria Matoya</td>
            <td>Male</td>
        </tr>
    </table>

    <div id="pag1">
        Members: <span id="ttl"></span> <button id="prevpg"><i class="fa fa-fw fa-chevron-left"></i></button>
        <button id="nextpg"><i class="fa fa-fw fa-chevron-right"></i></button> <button id="firstpg">1</button>
        <button id="list">Show All</button>
    </div>

    <!-- <div id="maps" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="closeview">&times;</span>
                    <p><b>Parcel ID.</b>: <span id="parcelid"></span></p>
                </div>
                <div class="mbody">
                    <div class="modal-body1">
                        <p><b>Date Created</b>: <span id="date"></span></p>
                        <p><b>Category</b>: <span id="desc"></p>
                        <p><b>Weight (kg)</b>: <span id="wgt"></p>
                        <p><b>Status</b>: <span id="stat"></p>
                        <p><b>Present Location</b>: <span id="pres"></p>
                        <fieldset id="data">
                            <legend>Delivery details</legend>
                            <b>
                                <p>Recipient Name
                            </b>: <span id="rname"></p>
                                <b>
                                    <p>Recipient Mobile
                                </b>: <span id="rmob"></p>
                                    <b>
                                        <p>Pick up Location
                                    </b>: <span id="pick"></p>
                                        <b>
                                            <p>Destination
                                        </b>: <span id="dest"></p>
                        </fieldset>
                    </div>
                    <div class="modal-body">
                        <div id="map"></div>
                        <br><br>
                        <b>Distance (km):</b> <span id="dist"></span><br><br>
                        <b>Estimated Price (UGX):</b> <span id="px"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>Send IT &copy; 2018</span>
                </div>
            </div>
        </div>

        <div id="editloc" class="editModal">
            <div class="editModal-content">
                <div class="editModal-header">
                    <span class="closeeditl">&times;</span>
                    <p>Change Present Location</p>
                </div>
                <div class="editModal-body">
                    <form>
                        Present Location of parcel <span id="id"></span>:<br> <input type="text" id="loc"
                            pattern="[A-Za-z][,]?+" title="Must be letters" required> <br>
                        <span id="presErr"></span>
                    </form>
                </div>
                <div class="editModal-footer">
                    <div id="right">
                        <button id="saveLocationChangeButto">Save Changes</button>
                        <button id="cancelLocationEditButto" type="reset">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="popup" class="popup">
            <div class="popup-content">
                <div class="popup-header">
                </div>
                <div class="popup-body">
                    <p id="msg"></p>
                </div>
                <div class="popup-footer">
                    <button id="ok" onclick="closeModal();">OK</button>
                </div>
            </div>
        </div>-->
    <!-- </section> -->

    <footers class="myfooter">
        <span>My E-Church &copy; 2019</span>
    </footers>

    <script src="../../scripts/getParcels.js"></script>
    <script src="../../scripts/editPresentLocation.js"></script>
    <script src="../../scripts/getAParcel.js"></script>
    <script src="../../scripts/createParcel.js"></script>
    <script src="../../scripts/editStatus.js"></script>
    <script src="../../scripts/search.js"></script>
    <script src="../../scripts/notification.js"></script>
    <script src="../../scripts/custom.js"></script>
    <script src="../../scripts/pagination.js"></script>
    <script async defer type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKohLhQMAEAB2DhBzAPwZW4C6xXnGu2yg&libraries=places&callback=dynamicmap&region=UG"></script>
</body>

</html>