<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart cahurch</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/images/icon.png" rel="icon">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/user_settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../scripts/index.js"></script> -->
</head>
<style>
    .title {
        height: 20%;
        background-color: violet;
        text-align-last: center;
        border: thin;
    }

    .picture {
        height: 40%;
        width: 10%;
        background-color: yellow;
    }

    .details {
        height: 40%;

    }

    .footer {
        height: 10%;

    }
</style>

<body onload="profiler()">
    <header>
        <div class="brand">
            <span>SDA MT.OLIVES CHURCH</span>
        </div>
        <ul>
            <li class="dropdown">
                <!-- <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-user-circle"></i> <span id="usernayme"></span> </a> -->
                <div class="dropdown-content">
                    <a href="../user/user_settings.html"><i class="fa fa-user"></i> Profile</a>
                    <a href="../../index.html"><i class="fa fa-power-off"></i> LogOut</a>
            <li><a href="../../index.html"><i class="fa fa-power-off"></i> Logout</a></li>
            <!-- <li><a href="#cells"> View Cells</a></li> -->
            <li class="dropdown">
                <a href="#" onmouseover="myFunction()" class="dropbtn">View Cells</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="../admin/cell_profile.html">Najjeera</a>
                    <a href="../admin/cell_profile.html">Bukoto</a>
                    <a href="../admin/cell_profile.html">Kaliwajjala</a>
                    <a href="../admin/cell_profile.html">Naalya</a>
                </div>
            </li>
            <li><a href="../admin/admin_home.html"> View All Members</a></li>
            <li><a href="user_home.html"> Register New Member</a></li>
            <li><a href="user_settings.html" class="selected"> Profile</a></li>
            <li><a href="../../index.html"> Home</a></li>
            </div>
            </li>
        </ul>
    </header><br><br>

    <div class="title">
        <h1>name</h1>
    </div>
    <div class="picture">dgfd</div>
    <div class="details"></div>
    <div class="footer"></div>
</body>

</html>