<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SendIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/images/icon.png" rel="icon">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/user_home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/admin_home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../scripts/index.js"></script>
</head>

<body>
    <header>
        <div class="brand">
            <span>SDA MT.OLIVES CHURCH</span>
        </div>
        <ul>
            <li class="dropdown">
                <!-- <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-user-circle"></i> <span id="usernayme"></span> </a> -->
                <div class="dropdown-content">
                    <!-- <a href="../user/user_settings.html"><i class="fa fa-user"></i> Profile</a> -->
                    <!-- <a href="../../index.html"><i class="fa fa-power-off"></i> LogOut</a> -->
                    <!-- <li><a href="../user/user_settings.html"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="../../index.html"> Logout</a></li> -->
            <li><a href="../../index.html"><i class="fa fa-power-off"></i> Logout</a></li>
            <!-- <li><a href="#cells"> View Cells</a></li> -->
            <li class="dropdown">
                <a href="#" onmouseover="myFunction()" class="dropbtn">View Cells</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="../admin/cell_profile.html">Najjeera</a>
                    <a href="../admin/cell_profile.html">Bukoto</a>
                    <a href="../admin/cell_profile.html">Kaliwajjala</a>
                    <a href="../admin/cell_profile.html">Naalya</a>
                </div>
            </li>
            <li><a href="../admin/admin_home.html"> View All Members</a></li>
            <li><a href="user_home.html" class="selected"> Register New Member</a></li>
            <li><a href="../../index.html"> Home</a></li>
            </div>
            </li>
            <!-- <li><a href="#" class="active"><i class="fa fa-fw fa-edit"></i> My Parcels</a></li> -->
        </ul>
    </header><br><br>
    <hr>
    <section>
        <div id="create">
            <fieldset id="form1">
                <legend>Register New Member</legend>
                <form id="parcelForm">
                    <div>
                        Id number:<br>
                        Name: <br>
                        Gender: <br>
                        Date of Birth: <br>
                        Marital Status: <br>
                        Cell: <br>
                        Education level:<br>
                        Profession: <br>
                        Occupation: <br>
                        Place of work: <br>
                        Residence: <br>
                        Phone contact:<br>
                        Email Address:<br>
                        Date of Baptism: <br>
                        Place of Baptism: <br>
                        Baptising Pastor: <br>
                        Former Religion: <br>
                        Image url:
                    </div>

                    <div>
                        <input type="text" id="member_id" placeholder="Member's Id number">
                        <!-- <span class="errormsg" id="idErr"></span> -->
                        <input type="text" id="recipient_name" pattern="[A-Za-z][,]?[' ']?+" title="Must be letters"
                            placeholder="Enter Recipient Name">
                        <!-- <span class="errormsg" id="recnameErr"></span> -->
                        <select id="gender">
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                        <!-- <span class="errormsg" id="genderr"></span> -->
                        <input type="date" id="date_of_birth" required placeholder="Enter date of birth">
                        <!-- <span class="errormsg" id="doberr"></span> -->
                        <select id="marital-status">
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="cohabiting">Cohabiting</option>
                            <option value="separated">Separated</option>
                            <option value="divorced">Divorced</option>
                            <option value="widowed">Widowed</option>
                        </select>
                        <!-- <span class="errormsg" id="mserr"></span> -->
                        <input type="text" id="cell" placeholder="Fellowship Cell">
                        <!-- <span class="errormsg" id="cellerr"></span> -->
                        <input type="text" id="education_level" placeholder="Education level">
                        <!-- <span class="errormsg" id="educerr"></span> -->
                        <input type="text" id="profession" required placeholder="Enter profession">
                        <!-- <span class="errormsg" id="proferr"></span> -->
                        <input type="text" id="occupation" placeholder="Occupation">
                        <!-- <span class="errormsg" id="occuperr"></span> -->
                        <input type="text" id="place-of-work" placeholder="Place of work">
                        <!-- <span class="errormsg" id="workerr"></span> -->
                        <input type="text" id="residence" required placeholder="Place of Residence">
                        <!-- <span class="errormsg" id="residerr"></span> -->
                        <input type="text" id="phone_contact" placeholder="Phone contact">
                        <!-- <span class="errormsg" id="phoneerr"></span> -->
                        <input type="email" id="email" placeholder="Email address">
                        <!-- <span class="errormsg" id="mailerr"></span> -->
                        <input type="date" id="date_of_baptism" required placeholder="Date of Baptism">
                        <!-- <span class="errormsg" id="dobpterr"></span> -->
                        <input type="text" id="place_of_baptism" placeholder="Place of Baptism">
                        <!-- <span class="errormsg" id="placerr"></span> -->
                        <input type="text" id="baptising_pastor" placeholder="Name of Pastor who Baptised">
                        <!-- <span class="errormsg" id="pasterr"></span> -->
                        <input type="text" id="former_religion" placeholder="Former Religion" required>
                        <span class="errormsg" id="formerr"></span>
                        <!-- <input type="file" id="image_url" name="myfile"> -->
                        <input id="inp" type='file'>
                        <p id="b64"></p>
                        <img id="img" height="150">
                        <img src="" alt="">
                        <!-- <span class="errormsg" id="imgerr"></span> -->
                    </div>
                </form>
                <p id="error"></p>

                <div id="right">
                    <button type="submit" class="add-member" onclick="Register(); return false;">Add member</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" class="add-member" onclick="cancel(); return false;">Cancel</button>
                </div>
            </fieldset>

            <div class="rightgrid">
                <div class="search">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search members by Name"><button
                        type="submit"><i class="fa fa-search"></i></button>
                </div>

                <div id="image">
                    fdgfdgfgd
                        <span class="errormsg" id="idErr"></span>
                        <span class="errormsg" id="recnameErr"></span>
                        <span class="errormsg" id="genderr"></span>
                        <span class="errormsg" id="doberr"></span>
                        <span class="errormsg" id="mserr"></span>
                        <span class="errormsg" id="cellerr"></span>
                        <span class="errormsg" id="educerr"></span>
                        <span class="errormsg" id="proferr"></span>
                        <span class="errormsg" id="occuperr"></span>
                        <span class="errormsg" id="workerr"></span>
                        <span class="errormsg" id="residerr"></span>
                        <span class="errormsg" id="phoneerr"></span>
                        <span class="errormsg" id="mailerr"></span>
                        <span class="errormsg" id="dobpterr"></span>
                        <span class="errormsg" id="placerr"></span>
                        <span class="errormsg" id="pasterr"></span>
                        <span class="errormsg" id="imgerr"></span>


















                    <!-- <img src="../../assets/images/SDA-Logo.png" alt="SDA logo" width="400" height="400"> -->
                </div>

                <br>

            </div>


        </div>
    </section>
    <footer>
        <span>My E-Church &copy; 2019</span>
    </footer>
    <!-- <script src="\..\..\validation.js"></script> -->
    <script src="../../validation.js"></script>
    <!-- <script src="va"></script> -->
</body>

</html>