<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SendIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link href="../../assets/images/icon.png" rel="icon">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/view_members.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/admin_home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../scripts/index.js"></script>
</head>
<body>
    <h2 class="member_table">Members Table</h2>
    <table>
      <tr>
        <th>ID</th><link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/styles/user_home.css" />
    <l
        <th>Name</th>
        <th>Cell</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Irene Samanya</td>
        <td>Kaliwajjala</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Vincent Zirimwabagabo</td>
        <td>Naalya</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Flavia Zirimwabagabo</td>
        <td>Naalya</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Henry Samanya</td>
        <td>Kaliwajjala</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Esther Odora</td>
        <td>Kiwatule</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Maroria Matoya</td>
        <td>Bukoto</td>
      </tr>
    </table>
</body>
</html>  -->